{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="container text-center py-5 px-5">
    <h1 class="display-1">About</h1>
</div>
<div class="col d-flex justify-content-center py-5">
    <img src="{% static "logo.jpg" %}" alt="Logo" width="100" height="100" class="img-thumbnail">
</div>
<div class="container px-5">
    <h1>How it all started....</h1>
    <p>As the days passed at the hostel, I found a surprising source of inspiration: Tony Stark, better known as Iron Man from the Marvel movies. Stark’s genius, his AI creations, and his futuristic gadgets captured my imagination. During the vacations when I was back home, I decided to take action on this new interest, diving into the world of coding. I chose Python as his first programming language.
 </p>
    
             
</div>
<div class="container px-5">
    <h1> Changing Course</h1>
    <p>But like many journeys, the path was never straightforward. After diving into Python, I faced some challenges, and soon found myself shifting focus. Instead of giving up,I discovered web development—a field that let me combine both creativity and technical know-how in ways that suited me better. This transition opened up new possibilities, and I embraced it fully.</p>
   
            
</div>
<div class="container py-5 px-5">
    <h1>Finally</h1>
    <p>Determined to make something meaningful out of his experiences,I set out on a project that would combine two of my biggest passions: storytelling and technology. I built a website to share stories from my hostel days and other life experiences. It became a personal project, one that allowed me to express myself, document my growth, and share my journey with the world.</p>
</div>
<div class="col d-flex justify-content-center">
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Contact me!</div>
    <div class="card-body">
      <img src="{% static "insta.jpg" %}" width="50" height="50" alt="insta">
      nel_sd
      <img src="{% static "youtube.jpg" %}" width="50" height="50" alt="youtube">
      Nel D Son Shougaijam
      <img src="{% static "gmail.jpg" %}" width="50" height="50" alt="gmail">
      NelDSon1406122@gmail.com
    </div>
  </div>
</div>

                
{% endblock body %}