{% extends "base.html" %}

{% block body %}
{% load static %}
<h1 class="display-1 text-center">Oops,no stories yet!</h1>
{% load static %}
<div class="card text-center">
    <div class="card-header">
      <h1>Nel D Son</h1>
    </div>
    <div class="card-body py-5">
      <h5 class="card-title">This website was created by Nel D Son Shougaijam</h5>
      <p class="card-text">please enjoy your time, thank you.</p>
      <img src="{% static "logo.jpg" %}" alt="Logo" width="50" height="50" class="img-thumbnail">
    </div>
</div>
{% endblock body %}
    